.profile-container {
  display: flex;
  margin-bottom: 0.5rem;
}

.profile-left {
  display: flex;
  padding: 0.5rem;

  width: 7.5rem;
  height: 7.5rem;

  border-radius: 50%;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.profile-image {
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  line-height: 7.5rem;
  text-align: center;
}

.profile-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 1.5rem;
}

.profile-name {
  display: flex;
  padding: 0.5rem;
  font-size: large;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.count-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.count-wrapper {
  text-align: center;
}

.post-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.post-select-container {
  display: flex;
  justify-content: center;
}

.post-select {
  height: 2rem;
  width: 4rem;
  margin-right: 1rem;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
  margin-left: 0.5rem;
}

.heatmap-back-button {
  height: 2rem;
  width: 4rem;
  margin-right: 1rem;
  border-radius: 5px;
  padding: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
  margin-left: 0.5rem;
}

.post-page-button {
  height: 2rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.view-button-container {
  display: flex;
  justify-content: flex-end;
}

.view-button {
  height: 2rem;
  border-radius: 5px;
  padding: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
  margin: 0rem 0.1rem;
  flex-shrink: 1;
}

.day-picker-container {
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
  margin: 1rem 0;
  padding-bottom: 1.5rem;
}

.day-picker-block {
  background-color: rgb(240, 239, 239);
  height: 27px;
  width: 27px;
  margin: 0;
  border-radius: 5px;
}

.DayPicker-Day {
  border-spacing: 0;
  padding: 2px;
}

.DayPicker-Month {
  margin: 1.5rem;
}

.day-picker-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;
}

.day-picker-today {
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border: solid black 0.15rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.post-list-container {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.modal-click-area {
  border-radius: 5px;
  background-color: #dbdbdb;
  cursor: pointer;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-header-button {
  padding: 0.25rem;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.modal-confirm {
  margin-top: 1rem;
  display: flex;
}

.modal-confirm-button {
  margin-left: 1rem;
  display: flex;
  padding: 0.25rem;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.post-wrapper {
  margin: 1rem 0.5rem 0.5rem 1rem;
  padding: 0.5rem;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.post-list-date {
  margin-left: 1rem;
  font-size: larger;
}

.commit-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5rem 0.5rem 1rem;
  padding: 0.5rem;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.commit-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.commit-link-container {
  display: flex;
  flex-direction: column;
}

.commit-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.commit-button {
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.image-wrapper {
  margin: 0.5rem 0.5rem 0.5rem 0;
  display: flex;
  justify-content: center;
}

.image-post {
  display: block;
  max-width: 450px;
  max-height: 450px;
  width: auto;
  height: auto;
}

.viewer-wrapper {
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 1rem;
  border-radius: 5px;
  border: 0.1rem solid lightgray;
}

.post-title {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5rem;
}

.post-modify {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-modify-button {
  margin-right: 1rem;
  cursor: pointer;
}

.update-item-container {
  height: 50%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  overflow: scroll;
}

.update-caution {
  font-size: small;
  margin-left: 0.5rem;
}
