.profile-container {
  display: flex;
  margin-bottom: 0.5rem;
}

.profile-left {
  padding: 0.5rem;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.profile-image {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.profile-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 0.5rem;
}

.grass-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 0.5rem;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.grass-wrapper {
  font-size: 1.125rem;
}

.count-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.count-wrapper {
  text-align: center;
}

.post-container {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
}

.button {
  width: 25%;
  text-align: center;
  margin: 0.5rem;
  height: 2.5rem;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

.post-wrapper {
  margin: 0.5rem;
  padding-left: 0.5rem;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.image-wrapper {
  margin: 0.5rem 0.5rem 0.5rem 0;
  display: flex;
  justify-content: center;
}

.image-post {
  display: block;
  max-width: 450px;
  max-height: 450px;
  width: auto;
  height: auto;
}

.viewer-wrapper {
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 1rem;
  border-radius: 5px;
  border: 0.1rem solid lightgray;
}
