body {
  margin: 0;
}

.write-page {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.write-container {
  display: flex;
  flex-direction: column;
  width: 50rem;
  border-left: 0.1rem solid;
  border-right: 0.1rem solid;
  padding-left: 3rem;
  padding-right: 3rem;
}

.choose-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.1rem solid;
  margin-bottom: 0.5rem;
}

.choose-button-wrapper {
  display: flex;
  justify-content: space-around;
  height: 10%;
  border: 0.1rem solid;
  margin: 0.5rem;
}

.choose-button {
  width: 25%;
  border: 0.1rem solid;
  text-align: center;
  margin: 0.5rem;
}

.choose-content-container {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  border: 0.1rem solid;
  margin: 0.5rem;
}

.choose-content {
  border: 0.1rem solid;
  margin: 0.1rem 0.5rem;
}

.editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.write-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.write-save-button {
  border: 0.1rem solid;
  width: 3rem;
  height: 1.5rem;
}
