body {
  margin: 0;
}

.write-page {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.write-container {
  display: flex;
  flex-direction: column;
  width: 50rem;
  /* border-left: 0.1rem solid;
  border-right: 0.1rem solid; */
  padding-left: 3rem;
  padding-right: 3rem;

  border-radius: 0px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #c9c9c9, -20px -20px 60px #ffffff;
}

.choose-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 0.1rem solid; */
  margin-bottom: 2rem;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.choose-button-wrapper {
  display: flex;
  justify-content: space-around;
  height: 10%;
  /* border: 0.1rem solid; */
  margin: 0.5rem;
}

.choose-button {
  width: 25%;
  /* border: 0.1rem solid; */
  text-align: center;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.choose-content-container {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  /* border: 0.1rem solid; */
  margin: 0.5rem;
}

.choose-image-container {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  /* border: 0.1rem solid; */
  margin: 0.5rem;
}

.choose-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  min-height: 4rem;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 8px #949494, -5px -5px 8px #ffffff;
}

.choose-content {
}

.editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.write-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.write-save-button {
  /* border: 0.1rem solid; */
  width: 3rem;
  height: 1.5rem;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}
